In [119]:
import pandas as pd
import numpy as np

subway = pd.read_csv('eda_data_files\subwaytime.csv',encoding='euckr')

# 출근 7시 ~ 9시
# 퇴근 오후 6시 - 9시

subway.columns = ['사용월', '호선명', '역ID', '지하철역', '04승차', '04하차',
       '05승차', '05하차', '06승차', '06하차',
       '07승차', '07하차', '08승차', '08하차',
       '09승차', '09하차', '10승차', '10하차',
       '11승차', '11하차', '12승차', '12하차',
       '13승차', '13하차', '14승차', '14하차',
       '15승차', '15하차', '16승차', '16하차',
       '17승차', '17하차', '18승차', '18하차',
       '19승차', '19하차', '20승차', '20하차',
       '21승차', '21하차', '22승차', '22하차',
       '23승차', '23하차', '00승차', '00하차',
       '01승차', '01하차', '02승차', '02하차',
       '03승차', '03하차']

subway.drop([0],inplace=True)

# 타입캐스팅
for col in subway.columns[4:]:
       subway[col] = subway[col].astype('int64')

sub_subway = subway.copy()
sub_subway.drop(columns=sub_subway.columns[4:],inplace=True)

temp_pd = pd.Series(subway.columns)
temp_pd = temp_pd[temp_pd.str.contains('승차')]

sub_subway['승차합'] = subway[temp_pd].sum(axis=1)

temp_pd = pd.Series(subway.columns)
temp_pd = temp_pd[temp_pd.str.contains('하차')]

sub_subway['하차합'] = subway[temp_pd].sum(axis=1)

sub_subway['이용객'] = sub_subway['승차합'] + sub_subway['하차합'] 

#subway_filter['총하차']

gowork_enter = ['07승차','08승차','09승차']
gowork_exit = ['07하차','08하차','09하차']

outwork_enter = ['18승차','19승차','20승차','21승차']
outwork_exit = ['18하차','19하차','20하차','21하차']

sub_subway['출근승차'] = subway[gowork_enter].sum(axis=1)
sub_subway['출근하차'] = subway[gowork_exit].sum(axis=1)
sub_subway['퇴근승차'] = subway[outwork_enter].sum(axis=1)
sub_subway['퇴근하차'] = subway[outwork_exit].sum(axis=1)
sub_subway

#sub_subway['출근승차합'] = sub_subway[]

#s = pd.Series(df.columns)
#drop_cols = s[s.str.contains('코드|번호')].values     ## 정규표현식 사용 가능

,사용월,호선명,역ID,지하철역,승차합,하차합,이용객,출근승차,출근하차,퇴근승차,퇴근하차
1,2019-01,1호선,150.0,서울역,1737632,1612228,3349860,180710,503636,587232,284618
2,2019-01,1호선,151.0,시청,779320,777299,1556619,30499,365018,362506,61310
3,2019-01,1호선,152.0,종각,1403220,1329705,2732925,32324,571951,641135,166036
4,2019-01,1호선,153.0,종로3가,1090172,1036883,2127055,30062,214013,369752,124465
5,2019-01,1호선,154.0,종로5가,847271,847642,1694913,26304,251819,296866,83645
...,...,...,...,...,...,...,...,...,...,...,...
594,2019-01,우이신설선,4709.0,북한산보국문,172235,158419,330654,60032,16328,21772,59929
595,2019-01,우이신설선,4710.0,정릉,126984,114182,241166,38957,12274,17410,40771
596,2019-01,우이신설선,4711.0,성신여대입구(돈암),108595,119447,228042,14591,18394,30339,30959
597,2019-01,우이신설선,4712.0,보문,47402,48833,96235,8732,10723,10819,11459
598,2019-01,우이신설선,4713.0,신설동,56285,58161,114446,4905,25474,21602,5250

In [77]:
# 하차인원이 가장 많은 역은
sub_subway[sub_subway['하차합'].max() == sub_subway['하차합']]['지하철역']

32    강남
Name: 지하철역, dtype: object

In [83]:
# 이용객이 가장 많은 역은 상위 5개
sub_subway.sort_values('이용객',ascending=False)[:5]['지하철역']

32          강남
26    잠실(송파구청)
49        홍대입구
40          신림
42     구로디지털단지
Name: 지하철역, dtype: object

In [120]:
# 출근시간에 승차를 가장 많이 하는 역, 하차를 많이 하는 역은
sub_subway.sort_values('출근승차',ascending=False)[:5]['지하철역']

40             신림
42        구로디지털단지
38    서울대입구(관악구청)
26       잠실(송파구청)
63            연신내
Name: 지하철역, dtype: object

In [121]:
sub_subway.sort_values('출근하차',ascending=False)[:5]['지하철역']

32           강남
31           역삼
29     삼성(무역센터)
503     가산디지털단지
30           선릉
Name: 지하철역, dtype: object

In [122]:
# 퇴근시간에 승차를 가장 많이 하는 역, 하차를 많이 하는 역은
sub_subway.sort_values('퇴근승차',ascending=False)[:5]['지하철역']

32          강남
29    삼성(무역센터)
26    잠실(송파구청)
49        홍대입구
12       을지로입구
Name: 지하철역, dtype: object

In [147]:
# 역이름을 입력받은 후 시간대별 승차인원과 하차인원을 구하시오
subway.loc[subway['지하철역'] == '강남']

temp_pd = pd.Series(subway.columns)
temp_pd = temp_pd[temp_pd.str.contains('승차')]

subway[temp_pd]

,04승차,05승차,06승차,07승차,08승차,09승차,10승차,11승차,12승차,13승차,...,18승차,19승차,20승차,21승차,22승차,23승차,00승차,01승차,02승차,03승차
1,927,10682,13504,39110,80492,61108,68446,89100,98021,101282,...,249973,142575,97729,96955,70982,33149,3612,0,0,0
2,74,2409,3532,7703,9978,12818,16470,22512,26040,34728,...,170225,76142,57394,58745,38156,14478,981,3,0,0
3,100,4409,4593,6733,11028,14563,20165,34617,42088,59893,...,257735,134259,113555,135586,111743,54264,4886,0,0,0
4,122,5061,3876,6066,9735,14261,24063,42723,58902,76615,...,129847,95225,68613,76067,62004,25970,3214,0,0,0
5,43,1934,2935,5143,8509,12652,20434,31918,45533,60255,...,133826,72550,49690,40800,32727,12013,785,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594,5,1907,6026,20034,23966,16032,11575,10094,10578,10393,...,9285,5727,3596,3164,2412,1450,450,0,0,0
595,3,1508,4799,12345,14421,12191,8907,8136,8205,8206,...,7603,4398,2767,2642,1778,869,287,0,0,0
596,2,769,1172,3373,6730,4488,4092,4808,6279,6548,...,9918,6987,6234,7200,6686,3149,648,0,0,0
597,0,407,770,1868,3949,2915,2689,2557,2992,3450,...,4602,2759,1930,1528,1351,575,135,0,0,0
598,17,574,737,1098,2075,1732,1659,1966,2361,2698,...,10513,5132,2932,3025,2182,882,195,1,0,0

In [242]:
# 시간을 입력받은 후 해당 시간에 이용객이 가장 많은 역

#1
select_time = '06'

temp_data = pd.DataFrame()

temp_data['지하철역'] = subway['지하철역']
temp_data['시간대합산'] = subway[f'{select_time}승차'] + subway[f'{select_time}하차']

temp_data['4.19민주묘지' == temp_data['지하철역']]
#temp_data = temp_data.sort_values('시간대합산',ascending=False)
#temp_data.head(1)

#2
# 강사님 답안
#subway.iloc[subway.loc[:, '06승차':'06하차'].sum(axis=1).sort_values().index[-1] - 1]['지하철역']
#subway.loc[:, '06승차':'06하차'].sum(axis=1).sort_values().index[-1]['지하철역']

#3 합산
temp_sub_data = subway.groupby('지하철역')[['06승차','06하차']].sum()
temp_sub_data.sum(axis=1).sort_values(ascending=False).index[0]

'서울역'