In [35]:
# nate 검색 후 뉴스결과에서 제목, 언론사, 날짜, 서머리, 본문까지를 csv file로 저장하시오
import requests
from bs4 import BeautifulSoup
from newspaper import Article

# 초기 검색 내용 및 변수 세팅
msg = "검색내용"
site_num = 1
news_list = []

# Nate URL 불러오기
url = "https://news.nate.com/search?q={}&page={}".format(msg,site_num)

# html 불러오기
res = requests.get(url)

# 불러온 내용 soup에 넣기
soup = BeautifulSoup(res.text, 'html.parser')

for item in soup.select('.search-result > ul > li'):
    try:
        href = item.select('a')[0]['href']
    
        a = Article('https:' + href, language='ko')
        a.download()
        a.parse()

        d = dict()
        d['title'] = a.title
        d['press'] = item.select('span.time')[0].text.strip().split()[0]
        d['day'] = item.select('span.time')[0].text.strip().split()[1]
        d['summary'] = item.select('span.txt')[0].text.strip()
        d['content'] = a.text
        
        news_list.append(d)
    except:
        pass

import pandas as pd

new_pd = pd.DataFrame(news_list)
new_pd.to_csv("nate_news.csv")

26분전
2시간전
1시간전
1시간전
1시간전
2시간전
3시간전
3시간전
17시간전
18시간전
15시간전
21시간전
19시간전
2023.11.30
2023.11.30

In [58]:
# 네이버 증권
# 일별시세

import requests
from bs4 import BeautifulSoup
import pandas as pd

# selenium 임포트
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys 

# 못읽음
#res = requests.get(url)
#res.text
#dfs = pd.read_html(res.text)
#len(dfs)
#dfs[0]

driver = webdriver.Chrome()
driver.get(url)

html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

dfs = pd.read_html(html)

dfs[10]

    업체명    거래량  전일비
0  삼성전자  72000  800

In [69]:
url = 'https://finance.naver.com/item/sise.naver?code=005930'
sub_url = '/item/sise_day.naver?code=005930'
main_url = 'https://finance.naver.com'

full_url = main_url+ sub_url

#res = requests.get(full_url)

driver = webdriver.Chrome()
driver.get(full_url)

html = driver.page_source

data = pd.read_html(html)[0]
data.dropna(inplace=True)
data

            날짜       종가     전일비       시가       고가       저가         거래량
1   2023.12.01  72000.0   800.0  72400.0  72500.0  71700.0   9779326.0
2   2023.11.30  72800.0   100.0  72700.0  72800.0  72200.0  15783714.0
3   2023.11.29  72700.0     0.0  72400.0  72800.0  72200.0   9283933.0
4   2023.11.28  72700.0  1400.0  71400.0  72700.0  71300.0  13283081.0
5   2023.11.27  71300.0   400.0  71500.0  72100.0  71100.0   9113857.0
9   2023.11.24  71700.0   700.0  72400.0  72600.0  71700.0   6676685.0
10  2023.11.23  72400.0   400.0  73000.0  73200.0  72200.0   6775614.0
11  2023.11.22  72800.0     0.0  72200.0  73000.0  71900.0  11105143.0
12  2023.11.21  72800.0   100.0  73100.0  73400.0  72700.0   9712881.0
13  2023.11.20  72700.0   200.0  72100.0  73000.0  72100.0  10610157.0

In [ ]:
# IFrame 다른 웹에 있는 웹페이즈 내용을 가져와서 보여주는 기능
# iframe에 있는 콘텐츠는 현 웹페이지 서버에서 제하는 콘텐츠가 아니라
# 다른 웹의 화면만 가져와서 보여주는 기능
# iframe의 콘텐츠는 다른 웹 서버에서 제공하는 것

In [ ]:
# 중고나라 카페 크롤링
# 중고나라 > 키워드 입력 > 게시물 출력...

In [96]:
# 네이버 증권
# 일별시세

import requests
from bs4 import BeautifulSoup
import pandas as pd

# selenium 임포트
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys 

main_url = 'https://cafe.naver.com/joonggonara.cafe'

driver = webdriver.Chrome()
driver.get(main_url)

select = "자전거"

elem = driver.find_element(By.CSS_SELECTOR,'#topLayerQueryInput')
elem.send_keys(select)
elem.send_keys(Keys.RETURN)

html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

frame = soup.find('iframe', id = 'cafe_main')
frameaddr = main_url + frame['src']
 
driver.get(frameaddr)
    
driver.switch_to.frame('cafe_main')

html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

for item in soup.select('div.article-board > table > tbody > tr'):
    try:
        print(item.select('td.td_article > div.board-number > div')[0].text.strip())
        print(item.select('div.board-list > div > a')[0].text.strip())
        print(item.select('td.td_date')[0].text.strip())
        print(item.select('td.td_view')[0].text.strip())
        
        
        
        
    except:
        pass

스테이츠 픽시 자전거
스미스 옵틱스 방풍안경 방풍고글 자전거고글 클리어렌즈 모델
X3-T6-1 LED - LED 3방향을 비추는 자전거 랜턴 팝니다-
은성 실내자전거 ES-9900S-1203
GORE WEAR C5 L 자전거 빕 숏
알톤 라임스톤 자전거
위후(weehoo) 1인 유아자전거 트레일러 캐노피만 팝니다 새상품
로드자전거 튜브 및 CO2 일괄판매
케이플러스 노바 자전거 헬멧 판매
수원) 홈 실내자전거 판매합니다!(짐볼 서비스)
Trek 트렉 하이브리드 자전거 FX3 디스크 S사이즈FX3 디스크 S사이즈 판매합니다.
알톤 코렉스 접이식 자전거 F1
스트라이다 접이식 자전거 판매
랑케레이시 t8 플래그쉽 전기자전거 팝니다
모토벨로 TX8 프로2 350W, 19.2Ah 전기자전거 새제품 판매합니다